<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Speeddate Timer</title>

    <!-- Chart.js -->
    <script src="/plugins/chartjs/Chart.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        .donut-inner {
            margin-top: -40%;
            margin-bottom: 40%;
        }

        .donut-inner h4 {
            margin-bottom: -100px;
            margin-top: 15px;
            font-size: 650%;
        }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-history"></i> <span class="light">Speeddate</span> Timer
                </a>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="box-body">
                        <canvas id="pieChart" height="180%"></canvas>
                        <div class="donut-inner" id="donutText"></div>
                    </div>
                    <div class="row">
                        <img src="img/Speeddate.png" alt="speeddate" width="60%"></img>
                    </div>
                    <div class="row">
                        <button class="btn btn-circle" onclick="play()">
                            <i class="fa fa-play animated"></i>
                        </button>
                        <button class="btn btn-circle" onclick="pause()">
                            <i class="fa fa-pause animated"></i>
                        </button>
                        <button class="btn btn-circle" onclick="next()">
                            <i class="fa fa-step-forward animated"></i>
                        </button>
                        <button class="btn btn-circle" onclick="add(5)">
                            <i class="fa fa-plus animated"></i>
                        </button>
                        <button class="btn btn-circle" onclick="add(-5)">
                            <i class="fa fa-minus animated"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <img src="img/VTK_hartje.png" alt="VTK" width="100%"></img>
                    </div>
                    <div class="row">
                        <img src="img/VLK_hartje.png" alt="VLK" width="100%"></img>
                    </div>
                    <div class="row">
                        <img src="img/VPPK_hartje.png" alt="VPPK" width="100%"></img>
                    </div>
                    <div class="row">
                        <img src="img/VLAK_hartje.png" alt="VLAK" width="100%"></img>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

    <!-- My timer javascript -->
    <script src="js/timer.js"></script>

</body>

</html>
